# URL base da API
BASE_URL=http://localhost:3000

# Credenciais do usuário ADMIN (id_level: 1)
ADMIN_EMAIL=admin@edutrace.com
ADMIN_PASSWORD=senhaSegura123

# Credenciais do usuário comum (id_level: 2 - Aluno/Estudante)
USER_EMAIL=usuario@edutrace.com
USER_PASSWORD=senhaSegura123

# Email de estudante existente no banco para testes de GET
TEST_STUDENT_EMAIL=estudante@edutrace.com
